@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Quicksand&display=swap');

body {
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}

a:link {
  text-decoration: none;
}

p {
  margin: 0rem;
}

#appcontainer {
  min-width: fit-content;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 10px;
  max-width: 600px;
}

header {
  margin: 0.4rem auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

footer {
  margin: 0 auto;
  color: rgb(122, 122, 122);
  font-size: 0.8rem;
}

header .btn {
  padding: 0 0.3rem;
}

header .btn:hover {
  color: rgb(233, 152, 2);
}

i:active {
  color: rgb(233, 152, 2);
}

.btn.focus, .btn:focus {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

#geolocate {
  margin: 0 0.2rem;
}

#search-field {
  display: flex;
  flex-wrap: nowrap;
}

input[type=locationvalue] {
  background: rgb(244, 249, 255);
  border: 1px solid rgb(216, 216, 216);
  border-radius: 2px;
  padding: 0.2rem 0.3rem;
}

input[type=locationvalue]:focus {
  background-color: white;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 2px;
  outline: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
input[type=locationvalue]:hover {
  background-color: rgb(248, 249, 250);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

main {
  background: rgb(248, 249, 250);
  border-radius: 10px;
  width: 80%;
  margin: 0.5rem auto;
  padding: 0.3rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Bai Jamjuree', sans-serif;
}

#display-location {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-weight: 400;
  color: rgb(0, 0, 150);
}

#display-cond {
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 600;
  display: block;
}

#display-temp {
  font-size: 3rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: rgb(0, 0, 150);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.piccontainer {
  margin: 0.5rem auto 0 auto;
  width: 60%;
}

#mainpic {
  height: auto;
  width: 100%;
}

#temptoggle {
  background: white;
  padding: 0.1rem 0.4rem;
  font-weight: 600;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 2px;
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.1);
}

#temptoggle:hover {
  color: rgb(233, 152, 2);
  cursor: pointer;
  border: 1px solid rgb(211, 211, 211);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(248, 249, 250);
}

#temptoggle:focus {
  outline: none;
}

#details {
  margin: 0.2rem auto;
  line-height: 1.2;
}

.forecast {
  font-family: 'Bai Jamjuree', sans-serif;
  text-align: left;
  padding: 0;
}

.forecast-container {
  display: flex;
  flex-wrap: nowrap;
}

.forecast-card {
  background: rgb(248, 249, 250);
  margin: 0.2rem;
  padding: 0.3rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex: 1;
}

.card-body {
  padding: 0;
  text-transform: capitalize;
  word-wrap: normal;
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.card-body img {
  margin: 0.2rem auto;
  height: auto;
  width: 100%;
}

.dualtemp {
  color: rgb(0, 0, 150);
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  margin: 0.3rem;
  white-space: nowrap;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 14px;
  }
  header {
    margin: 0.3rem auto;
  }
  #appcontainer {
    padding: 0.2rem;
  }
  #display-location, #display-temp {
    font-size: 2rem;
  }
  #display-cond {
    font-size: 1.3rem;
  }
  .forecast-card {
    margin: 0.1rem;
    padding: 0.2rem;
  }
  
}
