body {
  margin: 1rem auto;
  line-height: 1;
  font-size: 16px;
  width: 70%;
  max-width: 600px;
  text-align: center;
}

.container {
  min-width: fit-content;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 10px;
  text-align: center;
}

.location {
  max-width:80%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

#search-field {
  display: flex;
}

#geolocate {
  padding: 0.5rem;
}

input[type=text] {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(191, 191, 191);
  border-radius: 2px;
  padding: 0.2rem;
}

input[type=text]:focus {
  background-color: #c4dbf5;
  border: none;
}

main {
  background: rgb(248, 249, 250);
  border-radius: 10px;
  max-width: 80%;
  margin: 0 auto;
  padding: 0.8rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0 auto;
  font-size: 3rem;
  color: rgb(0, 0, 150);
}

.currentconditions {
  margin: 1rem 0;
}

h5 {
  font-size: 1rem;
  margin: 0.25rem;
}

.conditions {
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 600;
}

.temp {
  display: inline-block;
  font-size: 5rem;
  font-weight: 600;
  color: rgb(0, 0, 150);
  margin: -1rem;
}

.weatherimage {
  max-width: 60%;
  margin: 1rem auto;
  overflow: hidden;
}

main img {
  max-width: 100%;
  display: inline-block;
  margin: -1rem;
}


#temptoggle {
 background: none;
 font-size: 1rem;
 font-weight: 600;
 border: solid 1px rgb(226, 226, 226);
 border-radius: 2px;
 padding: 0.2rem;
 box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

#temptoggle:hover {
  color: orange;
  cursor: pointer;
}

#temptoggle:focus {
  outline: none;
}

.details {
  margin: 0;
}

.forecast {
  margin: 0.8rem auto;
  width: 95%;
  text-align: left;
  min-width: fit-content;
}

.card {
  background: rgb(248, 249, 250);
  margin: 0.2rem;
  padding: 0;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 0.5rem;
  word-wrap: normal;
  text-transform: capitalize;
}

.card-body img {
  display: block;
  max-width: 100%;
  
}

.dualtemp {
  color: rgb(0, 0, 150);
  font-weight: 800;
  float: right;
}

.row {
  flex-wrap: nowrap;
}

.footer {
  color: indigo;
  font-size: 0.9rem;
}

a:link {
  text-decoration: none;
}